
@import url("//db.onlinewebfonts.com/c/62fa13c8d6a7597eef48bdd7e57de4a3?family=Heart+Breaking+Bad)");

* {
  color: white;
  font-family: "Heart Breaking Bad", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background:#177027;
  height: 70px;
  justify-content: space-between;
}
.navbar-titles {
  margin: 20px;
}
.navbar-titles a {
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
}
.navbar-titles a:hover {
  color: #172121;
}

.navbar-logo {
  height: 60px;
  width: 95px;
  padding: 5px;
  margin-left: 5px;
}
.content {
  background-image: url("./images/breaking-bad-10-anos-de-la-metanfetamina-que-engancho-a-la-television.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: auto;
}
.charactersCard {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 300px;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  list-style: none;
}

.character-card {
  background-color: #177027;
  opacity: 0.8;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #172121;
  height: calc(100vh - 70px);
}

.home h1{
  font-size: 120px;
  font-weight: 400;
  position: absolute;
  opacity: 0.8;
  text-decoration: none;
}
.home h2{
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin: 0;
  padding: 0;
}
.home img {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  ;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 10px;
}
.card {
  border-radius: 10px;
  background-color: #177027;
  opacity: 0.8;
}
